*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    min-height: 100vh;
    padding:50px;
    background:rebeccapurple;
    display: flex;
    flex-direction: column;
    margin:0 auto;
}
img{
    width:800px;
    height:800px;
}

#popUp{
    width:600px;
    position:fixed;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    background:#fff;
    padding:20px;
    
}
a{
    text-decoration: none;
    padding:1rem 1rem;
    width:100px;
    height:100px;
    background:#333;
    color:#fff;
    font-size: 2rem;
    margin-top:20px;
    display: inline-block;

}